* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin-top: 60px;
    margin-bottom: 60px;
}
#fullbox {
    max-width: 1604px;
    width: 100%;
    margin: 0 auto;
    padding: 96px;
    background-color: #E8EEFF;
}
#heading {
    text-align: center;
    margin-bottom: 64px;
}
h1 {
    color: #181D27;
    font-size: 72px;
    margin-bottom: 24px;
}

#analytics {
    color: #05F;
}
#smarter {
    color: #6941C6;
}
#heading > p {
    color: #535862;
    font-size: 20px;
}
#imgcenter {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
#firstdiv {
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    max-width: 449px;
    width: 100%;
    margin-right: 10px;
    vertical-align: middle;
}
#firstdiv > img {
    margin-bottom: 19.81px;
    padding: 12px;
    border: 1px solid #E9EAEB;
    background-color: #FFF;
    border-radius: 10px;
}
#shareteam {
    color: #181D27;
    font-size: 20px;
}
#whether {
    margin-top: 7.65px;
    color: #535862;
    font-size: 16px;
}
#seconddiv {
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    max-width: 449px;
    width: 100%;
    margin-right: 10px;
    vertical-align: middle;
}
#seconddiv > img {
    margin-bottom: 19.81px;
    padding: 12px;
    border: 1px solid #E9EAEB;
    background-color: #FFF;
    border-radius: 10px;
}
#instant {
    color: #181D27;
    font-size: 20px;
}
#anall {
    margin-top: 5px;
    color: #535862;
    font-size: 14px;
}
#df {
    margin-top: 64px;
    margin-bottom: 64px;
}

#thirddiv {
    display: inline-block;
    padding: 16px;
    border-radius: 8px;
    background: #FFF;
    text-align: center;
    max-width: 449px;
    width: 100%;
    margin-right: 32px;
    vertical-align: middle;
}
#thirddiv > img {
    margin-bottom: 19.81px;
    padding: 12px;
    border: 1px solid #E9EAEB;
    background-color: #FFF;
    border-radius: 10px;
}
#manage {
    color: #181D27;
    font-size: 20px;
}
#measure {
    margin-top: 5px;
    color: #535862;
    font-size: 16px;
}


#purple {
    max-width: 1216px;
    width: 100%;
    background-color: #53389E;
    border-radius: 24px;
    margin: 0 auto;
}
#purpleleft {
    display: inline-block;
    padding: 64px;
    vertical-align: middle;
}
#giveus {
    color: #FFF;
    font-size: 36px;
    display: inline-block;
}
#joinover {
    color: #E9D7FE;
    font-size: 20px;
    margin-top: 19.49px;
    margin-bottom: 47.78px;
    display: inline-block;
}
#learn {
    padding: 12px 18px;
    background-color: #FFF;
    color: #414651;
    font-size: 16px;
    border: 1px solid #D5D7DA;
    border-radius: 8px;
    margin-right: 11.96px;
}
#started {
    padding: 12px 18px;
    border: 2px solid #FFF;
    background-color: #7F56D9;
    border-radius: 8px;
    color: #FFF;
}
#purpleright {
    display: inline-block;
    vertical-align: top;
    margin-left: 149px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

